/* blue: 00bdc7
   pink: fa7dbe
*/
body {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  color: #000;
  margin: 0;
}

p {
  margin-bottom: 20px;
  line-height: 20px;
}

img {
  margin: 0;
}

nav {
  float: right;
  font-size: 13px;
  text-transform: uppercase;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  margin-left: 10px;
  margin-top: 12px;
}
nav a {
  color: #555;
  text-decoration: none;
}

header {
  padding: 20px;
}

footer {
  color: #fff;
  text-align: center;
  font-size: 14px;
  background-color: #fa7dbe;
  padding: 20px;
}

 footer p {
  margin: 0;
}

.maincontainer {
  max-width: 1280px;
  min-width: 220px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1000px;
  padding: 25px;
  margin: 25px;
}

.hero {
  color: #fff;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: #fff;
  background-image: url(images/work.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.social {
  float: right;
  margin-bottom: 50px;
  display: block;
  display: inline-block;
}

.bttn1 {
  background-color: #fa7dbe;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
}

.bttn2 {
  background-color: #00bdc7;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
}

.big {
  font-size: 22px;
  padding: 40px;
}

.pinkborder {
    border: 2px solid #fa7dbe;
}
.blueborder {
    border: 2px solid #00bdc7;
}

#about {
  margin: 0;

}

#search {
  padding: 20px;
}

#resources{
  padding: 20px;
}

#cities {
    font-family: 'Roboto Slab', serif;
    border-collapse: collapse;
    width: 50%;
}

#cities td, #cities th {
    border: 1px solid #ddd;
    padding: 8px;
}

#cities tr:nth-child(even){background-color: #fff;}

#cities tr:hover {background-color: #ddd;}

#cities th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00bdc7;
    color: white;
}